<div class="container">
    <div class="cat">
      <div class="head">
        <div class="orejas"></div>
        <div class="orejas3"></div>
        <div class="face">
           <div class="cejas"></div>
           <div class="cejas3"></div>
           <div class="cejas7"></div>
           <div class="ojos">
             <div class="iris"><div class="iris3"></div></div></div>
             <div class="ojos3"><div class="iris7"><div class="iris3"></div></div></div>
          <div class="boca"></div>
          <div class="bigotes"></div>
          <div class="bigotes3"></div>
       </div>
     </div>
    </div>
  </div>