<div class="sidebar">
  <p class="login-as">log in as <a href="/login/1">Alice</a> | <a href="/login/2">Bob</a> | <a href="/login/3">Charlie</a></p>
  <h1 class="page-title">LearningHub</h1>
  <p class="subtitle">making the world a better place.</p>
  <form class="search-form">
    <input class="form-control" type="text" placeholder="Searching..." id="keyword" name="keyword">
    <button type="submit" class="btn btn-light">go</button>
  </form>
  
  <ul class="sidebar-menu">
    <li id="post-resource">Post</li>
    <li id="my-resources">My Resources</li>
  </ul>
  <div class="sidebar-content"></div>
  </div>

  
