<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
   
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <div class="nav-bar">
        <div class="name">LearningHub</div>
        <form id="header">
          <input type="text" placeholder="Search.." name="search" />
          <input class="upload-button" type="submit" value="Submit" />
        </form>
      </div>
    </header>

    <form action="/api/posts" method="POST" class="upload-form">
      <input type="text" name="title" placeholder="Title">
      <input type="text" name="URL" placeholder="Url of your resource">
      <input type="text" name="description" placeholder="People should read it because...">
      <div class="dropdown"><button class="dropbtn">Categories</button>
        <div class="dropdown-content">
          <a href="#">General Science</a>
          <a href="#">Database Management</a>
          <a href="#">Engineering</a>
          <a href="#">Digital Marketing</a>
          <a href="#">News</a>
        </div>
      </div>
      <input type="submit" value="Upload">
      
    </form>


    <main>
      <section id="post-container"></section>   
    </main>
    
  </body>
</html>
