<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <div class="nav-bar">
        <div class="logo"><img class="logo" src="" /></div>
        <div class="name">Learning Hub</div>
        <div>
          <form id="header">
            <input type="text" placeholder="Search.." name="search" />
            <input type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </header>

    <main class="container">
      <div class="posts">
        <h5>
          Allows learners to save learning resources like tutorials, blogs and
          videos in a central place that is publicly available to any user.
        </h5>
        
        <div class="display-content">
          <div><i class="fas fa-bars"></i></div>
          <div class="post">
            <h2>Theory of Relativity</h2>
            <h3>Subtitle/Description</h3>
            <p>Content about the post</p>
            <img src="https://images.unsplash.com/photo-1503264116251-35a269479413?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" />
          </div>
          <div class="post">
            <h2>CSS for Dummies</h2>
            <h3>Subtitle/Description</h3>
            <p>Content about the post</p>
            <img src="https://images.unsplash.com/photo-1551169795-9e8eb7adb400?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80" />
          </div>
          <div class="post">
            <h2>Space-the final frontier</h2>
            <h3>Subtitle/Description</h3>
            <p>Content about the post</p>
            <img src="https://images.unsplash.com/photo-1550443202-ab3646542c27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
          </div>
        </div>
      </div>
      <section id="post-container"></section>
    </main>
  </body>
</html>
