$primary-font-color: darkgrey;
$secondary-font-color: lightgrey;
$alert-color: #e27d60;

$primary-background-color: #eee;
$secondary-background-color: #659DBD;
$other-background-color: #eee;

html {
  padding: 0;
}

body{
  background-color: $secondary-font-color;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}

form#header {
  float: right;
  line-height: 20px;
  margin-top: -50px;
  padding-right: 10px;
  color: $secondary-font-color;
  text-align: left;
}

div.name {
  background-color: $secondary-background-color;
  font-size: 300%;
  font-weight: 600;
  color: white;
  padding: 10px 20px;
  text-align: left;
  display: block;
}

div.nav-bar {
  top:0;
  display: block;
}

datalist {
  display: none;
  position: fixed;
}

#post-container {
  margin: 20px;
}

.post {
  display: inline-block;
  width: 300px;
  height: 300px;
  background: $primary-background-color;
  padding: 30px;
  border-radius: 10px;
  margin: 25px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 10px 10px 55px -19px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 55px -19px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 55px -19px rgba(0,0,0,0.75);
}

.post:hover {
  cursor: pointer;
  transform: scale(1.05);
  -webkit-box-shadow: 10px 10px 28px -19px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px -19px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px -19px rgba(0,0,0,0.75);
  transition: all 0.4s ease;
}

.post-title {
  color: firebrick;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
}

.post-description {
  opacity: .9;
}

.post-url {
  text-align: center;
  color: plum;
  margin-top: -30px;

}

.post-author {
  color: $secondary-background-color;
  position: absolute;
  top: 0;
  right: 20px;
}

.upload-form {
  background: $secondary-background-color;
  border-radius: 10px;
  text-align: center;
}

.upload-form * {
  border: none;
  margin: 10px 0;
  width: 90%;
  padding: 10px;
}

.post-button {
  border-radius: 15px;
  width: 70%;
  margin: 10px auto;
}

.post-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s all ease;
}

.index-main {
  margin-left: 400px;
}

.sidebar {
  height: 100%;
  width: 400px;
  background: $secondary-background-color;
  position: fixed;
  z-index:1;
  top: 0;
  left: 0;
  overflow-x:hidden;
  padding: 20px;
  color: white;
}

.page-title {
  color: white;
  font-size: 3rem;
}

<<<<<<< HEAD


.dropdown-content a:hover {background-color: #ddd;}
=======
.sidebar-menu {
  list-style: none;
  padding-left: 3px;
}
>>>>>>> 809e835b32210114e5ed6db591b81ab96bdf352e

.sidebar-menu li {
  line-height: 3rem;
  font-size: 1.5rem;
}

#post-resource:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.4s ease;
}
