body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  #header {
    float: right;
  }

  span.header {
    font-size: 200%;
    font-weight: 800;
    color: rgb(58, 53, 53);
    background-color: coral;
    display: block;
    width: 100%;
    
  }

  main.container {
    background-color: rgb(205, 196, 196);
    
    padding-left:2em;
    padding-right:2em;
    padding-top:2em;
    border-top-width: 2em;



  }

  form#header{
    

  }
}

