body{
  background-color: rgb(138, 138, 181);
}
form#header {
  float: right;
  line-height: 20px;
  margin-top: -50px;
  padding-right: 10px;
}

div.name {
  background-color: coral;
  font-size: 300%;
  font-weight: 600;
  color: rgb(67, 63, 63);
  padding-top:16px;
  padding-bottom:16px;
  text-align: center;
  display: block;

}

div.nav-bar {
  top:0;
  display: block;
}

div.display-content {

  .post {
    display: inline-block;
    width: 29%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background: #f3f3f3;
    padding: 30px;
   
    border-radius: 10px;
    img {
      max-width: 100%;
    }
  }
  .fas.fa-bars {
    padding-left:20px;

  }
}


  h5 {
    padding-left:25px;
    color: rgb(52, 47, 47);
  }










